{% extends "@BecklynMenu/root.html.twig" %}




{%- block children -%}
    {#- @var \Becklyn\Menu\Item\MenuItem item -#}
    {%- set children = item.visibleChildren -%}

    {%- if children is not empty and (options.depth is null or options.depth > item.level) -%}
        <ul{{ _self.attributes(item.childListAttributes) }}>
            {%- for child in children -%}
                {%- with {item: child} -%}
                    {{- block("listItem") -}}
                {%- endwith -%}
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock -%}


{%- block listItem -%}
    {#- @var \Becklyn\Menu\Item\MenuItem item -#}
    <li{{ _self.attributes(item.listItemAttributes) }}>
        {{- block("item") -}}
        {{- block("children") -}}
    </li>
{%- endblock -%}


{%- block item -%}
    {#- @var \Becklyn\Menu\Item\MenuItem item -#}
    {%- set attributes = item.listItemAttributes -%}
    {{- item.target is not null ? block("linkElement") : block("spanElement") -}}
{%- endblock -%}


{%- block linkElement -%}
    {#- @var \Becklyn\Menu\Item\MenuItem item -#}
    <a href="{{ item.target }}"{{ _self.attributes(item.linkAttributes) }}>{{ block("label") }}</a>
{%- endblock -%}


{%- block spanElement -%}
    {#- @var \Becklyn\Menu\Item\MenuItem item -#}
    <span{{ _self.attributes(item.linkAttributes) }}>{{ block("label") }}</span>
{%- endblock -%}



{%- block label -%}
    {%- if options.translationDomain is not same as (false) -%}
        {{ item.label | trans([], options.translationDomain) }}
    {%- else -%}
        {{ item.label }}
    {%- endif -%}
{%- endblock -%}


{%- macro attributes (attributes) -%}
    {%- for name, value in attributes -%}
        {%- if value is not none and value is not same as(false) -%}
            {{- value is same as (true) ? value : (' %s="%s"'|format(name, value|e("html_attr")) | raw) -}}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}
