{% extends "@BecklynMenu/root.html.twig" %}

{#
 # This file renders the default menu.
 #
 # Every item that embeds another element should render their *_wrap variant.
 # The *_wrap blocks define all required variables so that they can all be overwritten.
 #
 # When doing a custom layout, then you should normally only need to overwrite the blocks WITHOUT *_wrap,
 # you can modify the parameters and then just call `parent()`.
 #}

{# ------------------------------------------------------------------------------------------------------------------ #}
{# Children (<ul>) #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{#-
 #  Wrapper: Renders a list of children of the given item.
 #
 #  @var \Becklyn\Menu\Item\MenuItem item
-#}
{%- block children_wrap -%}
    {%- set children = item.visibleChildren -%}
    {%- set listAttributes = item.childListAttributes -%}

    {{- block("children") -}}
{%- endblock children_wrap -%}


{#-
 #  Renders a list of children of the given item.
 #
 #  @var array listAttributes
 #  @var \Becklyn\Menu\Item\MenuItem[] children
-#}
{%- block children -%}
    {%- if children is not empty and (options.depth is null or options.depth > item.level) -%}
        <ul{{ _self.attributes(listAttributes) }}>
            {%- for child in children -%}
                {%- with {item: child} -%}
                    {{- block("list_item_wrap") -}}
                {%- endwith -%}
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock children -%}



{# ------------------------------------------------------------------------------------------------------------------ #}
{# List Item (<li>) #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{#-
 #  Wrapper: Renders the list item of a single item
 #
 #  @var \Becklyn\Menu\Item\MenuItem item
-#}
{%- block list_item_wrap -%}
    {%- set listAttributes = item.listItemAttributes -%}

    {{- block("list_item") -}}
{%- endblock list_item_wrap -%}


{#-
 #  Renders the list item of a single item
 #
 #  @var array listAttributes
 #  @var \Becklyn\Menu\Item\MenuItem item
-#}
{%- block list_item -%}
    <li{{ _self.attributes(listAttributes) }}>
        {{- block("item_wrap") -}}
        {{- block("children_wrap") -}}
    </li>
{%- endblock list_item -%}



{# ------------------------------------------------------------------------------------------------------------------ #}
{# Item (<a> or <span>) #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{#-
 #  Wrapper: Renders the content of a single item (link or span basically)
 #
 #  @var \Becklyn\Menu\Item\MenuItem item
-#}
{%- block item_wrap -%}
    {%- set attributes = item.linkAttributes -%}
    {%- set target = item.target -%}

    {{- block("item") -}}
{%- endblock item_wrap -%}


{#-
 #  Renders the content of a single item (link or span basically)
 #
 #  @var array attributes
 #  @var string|null target
 #  @var \Becklyn\Menu\Item\MenuItem item
-#}
{%- block item -%}
    {%- set target = item.target -%}
    {{- target is not null ? block("link_item") : block("text_item") -}}
{%- endblock item -%}


{# ------------------------------------------------------------------------------------------------------------------ #}
{# Link item (<a>) #}
{# ------------------------------------------------------------------------------------------------------------------ #}

{#-
 #  The content of an item, if it is a link
 #
 #  @var array attributes
 #  @var string target
 #  @var \Becklyn\Menu\Item\MenuItem item
-#}
{%- block link_item -%}
    {%- set attributes = item.linkAttributes -%}
    <a href="{{ target }}"{{ _self.attributes(attributes) }}>{{ block("label") }}</a>
{%- endblock link_item -%}


{# ------------------------------------------------------------------------------------------------------------------ #}
{# Text item (<span>) #}
{# ------------------------------------------------------------------------------------------------------------------ #}

{#-
 #  The content of an item, if it is not a link
 #
 #  @var array attributes
 #  @var \Becklyn\Menu\Item\MenuItem item
-#}
{%- block text_item -%}
    <span{{ _self.attributes(attributes) }}>{{ block("label") }}</span>
{%- endblock -%}


{# ------------------------------------------------------------------------------------------------------------------ #}
{# Helpers #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{#-
 #  The label (textual content) of an item
 #
 #  @var \Becklyn\Menu\Item\MenuItem item
-#}
{%- block label -%}
    {# the label will already be translated by a visitor #}
    {{- item.label -}}
{%- endblock -%}


{#-
 #  Renders a list of HTML attributes to a string
 #
 #  @var array attributes
-#}
{%- macro attributes (attributes) -%}
    {%- for name, value in attributes -%}
        {%- if value is not none and value is not same as(false) -%}
            {{- value is same as (true) ? value : (' %s="%s"'|format(name, value|e("html_attr")) | raw) -}}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}
